name: CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build & Deploy to Cloud Run
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: gcp-books-api

      - name: Build image with Cloud Build
        run: |
          TAG=$(git rev-parse --short HEAD)
          IMAGE=us-east1-docker.pkg.dev/gcp-books-api/book-repo/books-api:$TAG

          gcloud builds submit \
            --config cloudbuild.yaml \
            --substitutions=_IMAGE=$IMAGE,_VERSION=$TAG,_COMMIT_SHA=$TAG

      - name: Deploy to Cloud Run
        run: |
          TAG=$(git rev-parse --short HEAD)
          IMAGE=us-east1-docker.pkg.dev/gcp-books-api/book-repo/books-api:$TAG

          gcloud run deploy books-api \
            --image $IMAGE \
            --region us-east1 \
            --allow-unauthenticated